*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 50px;
}
.ota{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    gap: 70px;
    justify-content: center;
}
.bola{
display: flex;
width: 240px;
height: 240px;
border: 1px solid #000000;
border-radius: 8px;
background: rgb(153, 93, 181);
}
.nevara{
    width: 50px;
    height: 50px;
    box-sizing: border-box;
border: 1px solid rgb(0, 0, 0);
border-radius: 8px;
background: #f7941f;
}
.bola:nth-child(1){
    padding: 8px;
    gap: 8px;
}
.bola:nth-child(2){
    padding: 8px;
    flex-direction: column;
    gap: 8px;
}
.bola:nth-child(3){
    padding: 8px;
    flex-wrap: wrap;
   justify-content: flex-start;
   align-items: flex-start;
    gap: 5px;
}
.bola:nth-child(4){
    justify-content: space-around;
    padding: 8px;
    gap: 8px;
}
.bola:nth-child(5){
    padding: 8px;
    justify-content: flex-start;
    gap: 8px;
}
.bola:nth-child(6){
    justify-content: flex-end;
    padding: 8px;
    gap: 8px;
}
.bola:nth-child(7){
    justify-content: center;
    padding: 8px;
    gap: 8px;
}
.bola:nth-child(8){
    justify-content: space-around;
    padding: 8px;
    gap: 8px;
}
.bola:nth-child(9){
    justify-content: flex-start;
    padding: 8px;
    gap: 8px;
}
.bola:nth-child(10){
    align-items: flex-end;
    padding: 8px;
    gap: 8px;
}
.bola:nth-child(11){
    align-items: center;
    padding: 8px;
    gap: 8px;
}
.bola:nth-child(12){
    justify-content: space-around;
    padding: 8px;
    gap: 8px;
}